<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="raven.sqdev.editors.sqfeditor.SQF_Editor"
            default="true"
            extensions="sqf"
            icon="platform:plugin/raven.sqdev.misc/resources/icons/SQFIcon.png"
            id="raven.sqdev.sqfEditor"
            name="sqfEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
     <editor
            class="raven.sqdev.editors.o2scriptEditor.O2Script_Editor"
            default="true"
            extensions="bio2s"
            id="raven.sqdev.o2scriptEditor"
            name="O2ScriptEditor">
      </editor>
   </extension>

</plugin>
