<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="raven.sqdev.ui.toolbar">
            <command
                  commandId="raven.sqdev.command.showParseTree"
                  icon="platform:plugin/raven.sqdev.misc/resources/icons/parseTreeIcon.png"
                  label="Show parseTree"
                  style="push"
                  tooltip="Opens the parse tree inspector">
            </command>
            <command
                  commandId="raven.sqdev.command.createPluginInfo"
                  icon="platform:plugin/raven.sqdev.misc/resources/icons/pluginInfoIcon.png"
                  label="Create plugin info"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="raven.sqdev.ui.commandCategory"
            defaultHandler="raven.sqdev.ui.commands.ShowParseTreeHandler"
            description="Displays the parse tree graphically"
            id="raven.sqdev.command.showParseTree"
            name="Show parse tree">
      </command>
      <command
            categoryId="raven.sqdev.ui.commandCategory"
            defaultHandler="raven.sqdev.ui.commands.CreatePluginInfo"
            description="Creates an info file with the most important information about the running plugin and it&apos;s envirpnment."
            id="raven.sqdev.command.createPluginInfo"
            name="Create plugin info">
      </command>
      <category
            description="All commands associated with the SQDev plugin"
            id="raven.sqdev.ui.commandCategory"
            name="SQDev">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="raven.sqdev.ui.perspectives.SQDevPerspective"
            fixed="false"
            id="raven.sqdev.ui.perspectives.sqdevperspective"
            name="SQDev">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="raven.sqdev.import"
            type="import"
            wizardId="raven.sqdev.wizards.importAsSQDevProject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="raven.sqdev.export"
            type="export"
            wizardId="raven.sqdev.wizards.exportSQDevProject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="raven.sqdev.newFile"
            type="new"
            wizardId="raven.sqdev.wizards.sqfNewFileWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="raven.sqdev.newFile"
            type="new"
            wizardId="raven.sqdev.wizards.stringtable">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="raven.sqdev.newProject"
            type="new"
            wizardId="raven.sqdev.wizards.sqdevproject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.eclipse.ui.Basic"
            type="new"
            wizardId="org.eclipse.ui.wizards.new.file">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.eclipse.ui.Basic"
            type="new"
            wizardId="org.eclipse.ui.wizards.new.folder">
         <enablement></enablement>
      </commonWizard>
      <commonFilter
            activeByDefault="true"
            id="raven.sqdev.ui.hidenonsqdevprojects"
            name="Hide Non-SQDev projects">
         <filterExpression>
            <not>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="raven.sqdev.misc.SQDevProjectNature">
                  </test>
               </adapt>
            </not>
            <and>
               <not>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
               </not>
               <not>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </not>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="raven.sqdev.ui.sqdevCategory"
            name="SQDev">
      </category>
      <view
            allowMultiple="false"
            category="raven.sqdev.ui.sqdevCategory"
            class="raven.sqdev.ui.views.RPTViewer"
            id="raven.sqdev.ui.rptViewer"
            name="RPT Viewer"
            restorable="true">
      </view>
      <view
            category="raven.sqdev.ui.sqdevCategory"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="raven.sqdev.views.sqdevnavigator"
            name="SQDevNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="raven.sqdev.views.sqdevnavigator">
         <popupMenu
               allowsPlatformContributions="false"
               id="raven.sqdev.views.sqdevnavigator.popupmenu">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint name="group.reorganize" />
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="raven.sqdev.views.sqdevnavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="raven.sqdev.ui.hidenonsqdevprojects">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="raven.sqdev.views.sqdevnavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>on>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.GoIntoActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>

</plugin>
