<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="raven.sqdev.preferences.pages.SQDevGeneralPreferencePage"
            id="raven.sqdev.preferences.sqdevgeneralpreferencepage"
            name="SQDev">
      </page>
      <page
            category="raven.sqdev.preferences.sqdevgeneralpreferencepage"
            class="raven.sqdev.preferences.pages.SQDevEditorPreferencePage"
            id="raven.sqdev.preferences.sqdeveditorpreferencepage"
            name="Editor">
      </page>
      <page
            category="raven.sqdev.preferences.sqdevgeneralpreferencepage"
            class="raven.sqdev.preferences.pages.SQDevLinkingPreferencePage"
            id="raven.sqdev.preferences.sqdevlinkingpreferencepage"
            name="Linking">
      </page>
      <page
            category="raven.sqdev.preferences.sqdevgeneralpreferencepage"
            class="raven.sqdev.preferences.pages.SQDevMiscPreferencePage"
            id="raven.sqdev.preferences.sqdevmiscpreferencepage"
            name="Misc">
      </page>
      <page
            category="raven.sqdev.preferences.sqdevgeneralpreferencepage"
            class="raven.sqdev.preferences.pages.SQDevViewsPreferencePage"
            id="raven.sqdev.preferences.sqdevviewspreferencepage"
            name="Views">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="raven.sqdev.preferences.initializer.SQDevPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
