<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="raven.sqdev.wizards.sqdevcategory"
            name="SQDev">
      </category>
      <wizard
            category="raven.sqdev.wizards.sqdevcategory"
            class="raven.sqdev.wizards.sqfNewFileWizard.SqfNewFileWizard"
            icon="platform:plugin/raven.sqdev.util/resources/icons/SQFIcon.png"
            id="raven.sqdev.wizards.sqfNewFileWizard"
            name="SQF file"
            preferredPerspectives="raven.sqdev.ui.perspectives.sqdevperspective"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="raven.sqdev.wizards.sqdevcategory"
            class="raven.sqdev.wizards.sqdevProject.SQDevProjectWizard"
            finalPerspective="raven.sqdev.ui.perspectives.sqdevperspective"
            icon="platform:plugin/raven.sqdev.util/resources/icons/prj_obj.gif"
            id="raven.sqdev.wizards.sqdevproject"
            name="SQDev Project"
            preferredPerspectives="raven.sqdev.ui.perspectives.sqdevperspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="raven.sqdev.wizards.exportcategory"
            class="raven.sqdev.wizards.export.SQDevExportWizard"
            icon="platform:plugin/raven.sqdev.util/resources/icons/sqdevExportIcon.png"
            id="raven.sqdev.wizards.exportSQDevProject"
            name="Export SQDev Project">
      </wizard>
      <category
            id="raven.sqdev.wizards.exportcategory"
            name="SQDev">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="raven.sqdev.wizards.importcategory"
            name="SQDev">
      </category>
      <wizard
            category="raven.sqdev.wizards.importcategory"
            class="raven.sqdev.wizards.importWizard.SQDevImportWizard"
            icon="platform:plugin/raven.sqdev.util/resources/icons/sqdevImportIcon.png"
            id="raven.sqdev.wizards.importAsSQDevProject"
            name="Import as SQDevProject">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="raven.sqdev.wizards.sqdevcategory"
            class="raven.sqdev.wizards.stringtable.StringTableWizard"
            finalPerspective="raven.sqdev.ui.perspectives.sqdevperspective"
            icon="platform:plugin/raven.sqdev.util/resources/icons/StringTableIcon.png"
            id="raven.sqdev.wizards.stringtable"
            name="StringTable"
            preferredPerspectives="raven.sqdev.ui.perspectives.sqdevperspective"
            project="false">
      </wizard>
   </extension>

</plugin>
