<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="raven.sqdev.wizards.newcategory"
            name="SQDev">
      </category>
      <wizard
            category="raven.sqdev.wizards.newcategory"
            class="raven.sqdev.wizards.sqfNewFileWizard.SqfNewFileWizard"
            icon="platform:plugin/raven.sqdev.util/resources/icons/SQF_image.gif"
            id="raven.sqdev.wizards.sqfNewFileWizard.SqfNewFileWizard"
            name="New SQF file"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="raven.sqdev.wizards.newcategory"
            class="raven.sqdev.wizards.sqdevProject.SQDevProjectWizard"
            icon="platform:plugin/raven.sqdev.util/resources/icons/prj_obj.gif"
            id="raven.sqdev.wizards.sqdevproject"
            name="SQDev Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="raven.sqdev.wizards.exportcategory"
            class="raven.sqdev.wizards.export.SQDevExportWizard"
            icon="platform:plugin/raven.sqdev.util/resources/icons/sqdevExportIcon.png"
            id="raven.sqdev.wizards.export"
            name="Export SQDev Project">
      </wizard>
      <category
            id="raven.sqdev.wizards.exportcategory"
            name="SQDev">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="raven.sqdev.wizards.importcategory"
            name="SQDev">
      </category>
      <wizard
            category="raven.sqdev.wizards.importcategory"
            class="raven.sqdev.wizards.importWizard.SQDevImportWizard"
            icon="platform:plugin/raven.sqdev.util/resources/icons/sqdevImportIcon.png"
            id="raven.sqdev.wizards.import"
            name="Import as SQDevProject">
      </wizard>
   </extension>

</plugin>
