<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="raven.sqdev.editors.BasicCodeEditor"
            default="false"
            id="Raven.SQDev.Editors.BasicTextEditor"
            name="BasicTextEditor">
      </editor>
      <editor
            class="raven.sqdev.editors.sqdevEditor.SQDevFileEditor"
            default="true"
            extensions="sqdev"
            icon="platform:plugin/raven.sqdev.util/resources/icons/sqdevFileIcon.png"
            id="raven.sqdev.editors.sqdevfileeditor"
            name="SQDevFileEditor">
      </editor>
   </extension>

</plugin>
