<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="raven.sqdev.editors.BasicCodeEditor"
            default="false"
            id="Raven.SQDev.Editors.BasicCodeEditor"
            name="BasicCodeEditor">
      </editor>
      <editor
            class="raven.sqdev.editors.sqdevEditor.SQDevFileEditor"
            default="true"
            extensions="sqdev"
            icon="platform:plugin/raven.sqdev.util/resources/icons/sqdevFileIcon.png"
            id="raven.sqdev.editors.sqdevfileeditor"
            name="SQDevFileEditor">
      </editor>
      <editor
            class="raven.sqdev.editors.stringTableEditor.StringTableEditor"
            default="true"
            filenames="stringtable.xml"
            icon="platform:plugin/raven.sqdev.util/resources/icons/StringTableIcon.png"
            id="raven.sqdev.editors.stringtableeditor"
            name="StringTableEditor">
      </editor>
      <editor
            class="raven.sqdev.editors.other.ConfigEditor"
            default="true"
            extensions="cpp, hpp, sqm, ext"
            id="raven.sqdev.editors.configEditor"
            name="ConfigEditor">
      </editor>
   </extension>

</plugin>
